*{
margin: 0;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    font-family: "Playfair Display", serif;
}
#game{
    background-color: rgba(255, 255, 255, 0.545);
    padding: 25px;
    max-width: 550px;
    margin: auto;
    margin-top: 52px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
}
#image{
    border-radius: 500px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
#word{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.792);
    display: inline-block;
    padding: 5px 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 7px;
}
#playerInput{
    display: block;
    margin: auto;
    width: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    caret-color: transparent;
    text-decoration: underline;
}

#playerinput:hover::placeholder{
    color: #222222;
}
@keyframes underscore{
    0%{
        text-decoration-color: transparent;
    }
    100%{
        text-decoration-color: #999;
    }}
#playerInput:focus{
    animation: 3s infinite underscore;
}
#modal{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.198);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: none;
}
#modal form{
    background-color: white;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    padding: 20px;
    text-align: center;
    box-shadow: 15px 15px 45px #22222277;
    border-radius: 15px;
}
#modal form h2{
    padding-bottom: 20px;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 5px 5px 5px #2222224c;
    border-color: #22222200;
}
#closeButton{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.198);
}